@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

@media only screen and (min-width: 993px) {
	.banner .parallax img{
		width: 100%;
	}
}
@media only screen and (min-width: 601px) {
	
}
body {
	font-family: 'Source Sans Pro', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
	min-height: 400vh
}
.aos-item{ 
    transition:all 2s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
.banner .parallax-container{
	min-height: 100vh;
	box-shadow: 1px 1px 23px 0 rgba(0,0,0,.6);
}
.banner .parallax img{
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
}
.nav ul li{
	display: inline-block;
	box-shadow: initial;
}
.nav .logo-img{
	margin-top: -10px;
	width: 70px;
}
.banner a, .banner{
	color: white;
}
.banner-content{
	margin-top: 100px;
}
.action{
	display: inline-block;
	margin: 50px;
	padding: 15px 20px;
	font-size: 1.5rem;
	border: 2px solid white;
	border-radius: 5px;
}
.nav ul li a{
	padding: 10px;
	font-size: 1.5rem;
}
.showcase{
	position: relative;
	margin-top: 70px;
}
.showcase-img img{
	position: absolute;
	max-width: 500px;
	box-shadow: 1px 2px 53px 0 rgba(0,0,0,.25);
	filter: brightness(80%)
}
.showcase-img img.second{
	top: 70px;
	left: 500px;
	z-index: 2;
}
.showcase-img img.first{
	left: 50px;
	top: 100px;
	transform: rotate(-30deg);
	z-index: 1;
}
.showcase-img img.third{
	top: 100px;
	left: 220px;
	z-index: 3;
}
.showcase-img img.fourth{
	top: 60px;
	left: 720px;
	z-index: 4;
	transform: rotate(10deg);
}
.showcase-img img.fifth{
	top: 80px;
	right: 120px;
	z-index: 3;
}
.what-we-do .col.s12.m4{
	text-align: center;
}
.what-we-do .col.s12.m4 img{
	max-width: 180px;
	border-radius: 50%;
	transition:transform 1s ease-in-out;
	margin-top: 100px;
	margin-bottom: 30px;
}
.what-we-do .col.s12.m4 img:hover{
	transform: rotate(360deg);
}
.others{
	position: relative;
	margin-top: 150px;
	min-height: 2000px;
}
.others>div:not(.content){
	position: absolute;
	height: 100%;
}
.others>div.content{
	position: relative;
}
.others>div.content section>div.row{
	padding-top: 200px;
}
.others>div.content img{
	width:100%
}
.others>div.content p{
	font-size: 1.2rem;
}
.others>div.content .showcase-text{
	transform: translateY(100px)
}

.others>div{
	z-index: 3;
	width: 100%;
}
.others>div.first{
	width: 70%;
	z-index: 2;
	left: 0;
	top: 0;
	transform: translateY(100px);
	background-color: #1c4e79;
}
.others>div.second{
	width: 60%;
	height: calc(100% + 100px);
	right: 0;
	z-index: 1;
	top: 0;
	background-color: #143439;
}
